In [ ]:
pip install pandas

In [1]:
import pandas as pd
from random import randint
from faker import Faker # библиотека с рандомнами именами

ModuleNotFoundError: No module named 'faker'

In [ ]:
fake = Faker()
numbers = [randint(-50,50) for i in range(15)]
names = [fake.name() for i in range(15)]

In [ ]:
a = pd.Series(names)

In [ ]:
names

['Victoria George',
 'Lisa James',
 'Jessica Mills',
 'Matthew Rodriguez',
 'Wendy Davis',
 'Teresa Brooks PhD',
 'Tyler Bell',
 'Sandra Ramos',
 'Jenny Mcbride',
 'Ashley Cunningham',
 'Jill Wiley',
 'Ryan Jones',
 'Tiffany Johnson',
 'Joseph Schultz',
 'Tony Tyler']

In [ ]:
n = pd.Series(numbers, index = names)

In [ ]:
n

Victoria George      18
Lisa James          -35
Jessica Mills       -11
Matthew Rodriguez   -50
Wendy Davis          -9
Teresa Brooks PhD    22
Tyler Bell           -6
Sandra Ramos        -38
Jenny Mcbride        -5
Ashley Cunningham    49
Jill Wiley           43
Ryan Jones          -12
Tiffany Johnson      17
Joseph Schultz       12
Tony Tyler           31
dtype: int64

In [ ]:
n.sort_index()

Ashley Cunningham    49
Jenny Mcbride        -5
Jessica Mills       -11
Jill Wiley           43
Joseph Schultz       12
Lisa James          -35
Matthew Rodriguez   -50
Ryan Jones          -12
Sandra Ramos        -38
Teresa Brooks PhD    22
Tiffany Johnson      17
Tony Tyler           31
Tyler Bell           -6
Victoria George      18
Wendy Davis          -9
dtype: int64